@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --font-family: 'Overpass';
  --font-size: 15px;
  --font-regular: 400;
  --font-bold: 700;
  /* line-height: 24px; */

  --color-body-bg : #141519;
  --color-primary : #FF7512;
  --color-white: hsl(0, 0%, 100%);
  --color-medium-grey : #272E38;
  --color-light-grey : #7C8898;
  --color-card-bg : radial-gradient(ellipse at 50% 0%, rgb(41, 46, 56) 0%, rgb(18, 24, 31) 100%);

  --width-container: 400px;
  --height-container: 400px;

}



@media screen and (max-width: 739px) {
  :root {
    --font-size: 15px;

    --width-container: 360px;
  }
}